version: 1
disable_existing_loggers: false

formatters:
  json:
    (): services.manager.core.logging_config.CustomJsonFormatter

handlers:
  console:
    class: logging.StreamHandler
    formatter: json
    stream: ext://sys.stdout

loggers:
  uvicorn:
    level: INFO
    handlers: [console]
    propagate: false

  uvicorn.access:
    level: WARNING
    handlers: [console]
    propagate: false

  uvicorn.error:
    level: INFO
    handlers: [console]
    propagate: false

  # Library loggers
  docker:
    level: WARNING
    handlers: [console]
    propagate: false

  urllib3:
    level: WARNING
    handlers: [console]
    propagate: false

root:
  level: INFO
  handlers: [console]
